---
import { Icon } from 'astro-icon/components'
import SectionHeading from './Generic/SectionHeading.astro'
import Section from './Generic/Section.astro'

type Feature = {
    title: string
    body: string
    icon: string
}

type Props = {
    title: string
    subtitle: string
    features: Feature[]
}

const { title, subtitle, features } = Astro.props
---

<Section background='bg-slate-100 dark:bg-slate-900' id='why-me'>
    <SectionHeading heading={title} subheading={subtitle} headingLevel='h2' />

    <dl class='grid items-start gap-x-24 gap-y-14 md:grid-cols-2'>
        {
            features.map(({ icon, title, description }) => (
                <div class='grid max-w-xl place-items-start items-center gap-y-0.5 md:auto-cols-auto md:gap-x-4 md:gap-y-0'>
                    <div
                        class='flex aspect-square h-11 w-11 items-center justify-center rounded-full bg-emerald-700 p-2.5 text-slate-50'
                        aria-hidden='true'
                    >
                        <Icon name={icon} class='h-full w-full' />
                    </div>

                    <dt class='text-xl font-bold text-slate-800 dark:text-slate-200 lg:text-2xl'>
                        {title}
                    </dt>
                    <dd class='self-start text-lg text-slate-600 dark:text-slate-400 md:col-start-2 lg:text-xl'>
                        {description}
                    </dd>
                </div>
            ))
        }
    </dl>
</Section>
