---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import SectionHeading from './Generic/SectionHeading.astro'
import Section from './Generic/Section.astro'
import WorkItem from './Work/WorkItem.astro'
import Button from './Generic/Button.astro'

type Props = {
    title: string
    subtitle: string
    work: string[]
}

const { title, subtitle, work } = Astro.props

const featuredWork = await getCollection('work', ({ data }) => {
    return work.includes(data.title)
})
---

<Section fullscreen maxWidth='7xl' innerClass='gap-y-10 lg:gap-y-20' outerClass='px-4'>
    <SectionHeading heading={title} headingLevel='h2' textAlign='start'>
        <Button slot='customSubheading' href='/work/' outline size='xl' as='a' class='mt-2 gap-x-2'>
            {subtitle}
            <Icon name='ph:arrow-right-bold' class='size-6' />
        </Button>
    </SectionHeading>
    <ul
        class='grid max-w-7xl grid-cols-1 justify-items-center gap-10 md:grid-cols-2 lg:grid-cols-3'
    >
        {
            featuredWork
                .sort((a, b) => {
                    return work.indexOf(a.data.title) - work.indexOf(b.data.title)
                })
                .map((work) => (
                    <WorkItem
                        frontmatter={work.data}
                        id={`/work/${work.id}`}
                        includeDetails={false}
                        cardSize='max-w-md'
                        headingLevel='h3'
                    />
                ))
        }
    </ul>
</Section>
