---
import { Work } from '@/types/content/Work'
import { siteConfig } from '@/config/siteConfig'
import { Icon } from 'astro-icon/components'

import Header from './Header.astro'
import Footer from './Footer.astro'
import TOC from './TOC.astro'

type Props = {
    frontmatter: Work
    headings: Array<{ depth: number; slug: string; text: string }>
}

const { frontmatter, headings } = Astro.props
---

<article class='flex flex-col items-center !pt-0 pb-20'>
    <Header image={frontmatter.image?.src}>
        <div class='mx-auto flex max-w-3xl flex-col gap-y-4'>
            <time
                class='flex w-fit items-center gap-x-1 rounded-full bg-slate-50/80 px-3 py-1.5 text-xs font-medium text-slate-700 sm:text-sm'
            >
                <Icon name='ph:calendar-blank-bold' class='h-4 w-4' />{
                    frontmatter.date.toLocaleDateString('en-US', {
                        month: 'long',
                        day: 'numeric',
                        year: 'numeric',
                        timeZone: 'UTC',
                    })
                }
            </time>

            <h1 class='font-heading text-4xl font-black sm:text-5xl'>{frontmatter.title}</h1>
            <p class='text-lg font-medium !leading-relaxed opacity-80 sm:text-xl'>
                {frontmatter.description}
            </p>
        </div>
    </Header>

    {
        frontmatter.containsCharts && (
            <script
                src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js'
                integrity='sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=='
                crossorigin='anonymous'
                referrerpolicy='no-referrer'
            />
        )
    }

    {
        frontmatter.containsCode && (
            <link
                href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&display=swap'
                rel='stylesheet'
            />
        )
    }

    <div
        class='prose prose-lg prose-slate mb-10 w-[calc(100%-2rem)] max-w-3xl dark:prose-invert md:prose-xl prose-headings:font-heading prose-headings:text-slate-950 prose-h2:text-4xl prose-h2:font-black prose-h3:text-3xl prose-h3:font-extrabold prose-h4:text-2xl prose-h4:font-bold prose-a:text-emerald-700 prose-th:text-xl prose-img:rounded-lg prose-img:shadow-lg dark:prose-headings:text-slate-50 dark:prose-a:text-emerald-500'
    >
        <slot />
    </div>

    <Footer title={frontmatter.title} description={frontmatter.description} />
</article>
