---
import { Work } from '@/types/content/Work'
import { Icon } from 'astro-icon/components'

import Header from './Header.astro'
import Footer from './Footer.astro'
import FrontmatterExternalAssets from './FrontmatterExternalAssets.astro'

type Props = {
    frontmatter: Work
    headings: Array<{ depth: number; id: string; text: string }>
}

const { frontmatter, headings } = Astro.props
---

<article class='flex flex-col items-center gap-10 pb-20'>
    <Header image={frontmatter.image?.src}>
        <div class='mx-auto flex max-w-3xl flex-col gap-y-4'>
            <time
                class='flex w-fit items-center gap-x-1 rounded-full bg-slate-50/80 px-3 py-1.5 text-xs font-medium text-slate-700 sm:text-sm'
                datetime={frontmatter.date.isoDate}
            >
                <Icon name='ph:calendar-blank-bold' class='size-4' />
                {frontmatter.date.longDate}
            </time>

            <h1 class='font-heading text-4xl font-black sm:text-5xl'>{frontmatter.title}</h1>
            <p class='text-lg/relaxed font-medium opacity-80 sm:text-xl/relaxed'>
                {frontmatter.description}
            </p>
        </div>
    </Header>

    <FrontmatterExternalAssets
        containsCharts={frontmatter.containsCharts}
        containsCode={frontmatter.containsCode}
        containsMath={frontmatter.containsMath}
    />

    <section
        class='prose prose-lg prose-slate dark:prose-invert md:prose-xl prose-headings:font-heading prose-headings:text-slate-950 prose-h2:text-4xl prose-h2:font-black prose-h3:text-3xl prose-h3:font-extrabold prose-h4:text-2xl prose-h4:font-bold prose-a:break-words prose-a:text-emerald-700 prose-code:break-words prose-table:w-full prose-th:text-xl prose-td:min-w-[25ch] prose-img:rounded-lg prose-img:shadow-lg dark:prose-headings:text-slate-50 dark:prose-a:text-emerald-500 prose-pre:font-code prose-code:font-code prose:kbd:font-code prose-pre:focus:transition-[outline] prose-pre:focus:outline-4 prose-pre:focus:outline-offset-4 prose-pre:focus:outline-emerald-600 prose-pre:focus:ring-0 prose-a:focus:outline-offset-4 prose-a:rounded-xs prose-a:focus:outline-emerald-600 prose-a:focus:outline-4 prose-a:focus:transition-[outline] w-[calc(100%-2rem)] max-w-3xl'
    >
        <slot />
    </section>

    <Footer title={frontmatter.title} description={frontmatter.description} />
</article>
