---
import { profile } from '@/config/resume'
import { siteConfig } from '@/config/siteConfig'
import BlurHashPicture from '@/utils/blurhash/BlurHashPicture.astro'
import { Icon } from 'astro-icon/components'
import Card from './Elements/Card.astro'

import SpecialLink from '../Generic/SpecialLink.astro'
---

<Card class='flex h-fit flex-col gap-y-2 !p-5 md:sticky md:top-5 md:basis-1/4 lg:top-10'>
    <BlurHashPicture
        src='@/assets/images/profile-resume.jpg'
        widths={[300, 400, 800]}
        alt='Jonathan Falcon smiling at the camera.'
        class='mx-auto w-32 rounded-full'
        blurhashWidth={10}
    />

    <div class='text-center'>
        <h2 class='font-heading text-3xl font-black'>{profile.name}</h2>
        <p class='font-medium leading-tight text-slate-600 dark:text-slate-300'>{profile.title}</p>
    </div>

    <hr class='mt-3 rounded-full border-2 border-slate-300 dark:border-slate-600' />

    <nav aria-label='social'>
        <ul class='flex items-center justify-evenly'>
            {
                siteConfig.socials.map(({ platform, url, icon }) => (
                    <li>
                        <SpecialLink
                            href={url}
                            aria-label={platform}
                            title={platform}
                            target='_blank'
                            class={`
                                flex
                                p-3
                                text-slate-500 transition-colors
                                duration-200 before:bg-slate-300 hover:text-slate-700 focus:text-slate-700
                                dark:text-slate-400 dark:before:bg-slate-600
                                dark:hover:text-slate-200 dark:focus:text-slate-200
                            `}
                        >
                            <Icon name={icon} class='size-9' aria-hidden='true' />
                        </SpecialLink>
                    </li>
                ))
            }
        </ul>
    </nav>
</Card>
