---
import { siteConfig } from '@/config/siteConfig'

import { Icon } from 'astro-icon/components'

import SpecialLink from '@/components/PageElements/Generic/SpecialLink.astro'

type Props = {
    darkHeader?: boolean
}

const { darkHeader = false } = Astro.props

const headerLinkClasses = darkHeader
    ? 'text-slate-50 before:bg-slate-50/20'
    : 'before:bg-slate-950/10 dark:before:bg-slate-50/20'
---

<header class='absolute z-10 w-full px-6 py-6 sm:px-10 md:py-10'>
    <div class='mx-auto flex max-w-6xl items-center justify-between'>
        <SpecialLink
            href='/'
            class={`
                w-fit
                flex items-center gap-x-3
                -mx-2.5 -my-2 px-2.5 py-2 md:-mx-3 md:-my-2.5 md:px-3 md:py-2.5
                ${headerLinkClasses}
            `}
        >
            <Icon name={siteConfig.icon} class='size-8' aria-hidden='true' />
            <span class='font-heading text-2xl font-black max-sm:sr-only'>{siteConfig.title}</span>
        </SpecialLink>
        <nav>
            <ul class='-mr-2.5 flex items-center gap-x-1 text-lg font-semibold sm:text-xl'>
                {
                    siteConfig.links.map(({ path, label }) => (
                        <li>
                            <SpecialLink
                                href={path}
                                class={`
                                    px-2.5 py-2 md:px-3 md:py-2.5
                                    ${headerLinkClasses}
                                `}
                            >
                                {label}
                            </SpecialLink>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
